{% extends "exampletwig/base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block container %}
    <h3>Help function</h3>
    <p>If you need help with a HTML-tag, use "parent::&lt;HTML-tag&gt;('!help!');" inside your
        code.</p><p>Keep in mind that this will abort the output and only display the information about the tag.</p><p>
        You
        can also use: "$this->&lt;HTML-tag&gt;(...);</p>
    <hr>
    <h4><u>Tabel $data</u></h4>
    <table>
        <thead>
        <tr>
            <th>[name]</th>
            <th>[address]</th>
            <th>[city]</th>
            <th>[extra]</th>
        </tr>
        </thead>
        <tbody>
        {% for info in member %}
            <tr>
                <td>{{ info.name }}</td>
                <td>{{ info.address }}</td>
                <td>{{ info.city }}</td>
                <td>{{ info.extra }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}